.btn-medium {
  color: #808080;
  border: 1px solid #808080;
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: 200;
  opacity: .5;
}

.btn-medium:hover {
  text-decoration: none;
  opacity: 1;
  color:#808080;
}

.btn-twitter {
  color: white;
  background-color: #1991DA;
  /* border: 1px solid #808080; */
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: 800;
  opacity: 0.9;
}

.btn-twitter:hover {
  text-decoration: none;
  color: white;
  background-color: #1991DA;
  opacity: 1;
}

.facebook--style--btn {
  border-radius: 4px;
  font-size: .9rem;
  background-color:#1672e6;
  color: white;
  padding: 10px 5px;
}

.facebook--style--btn > a {
  text-decoration: none;
}